#basic {
    background-color: white;
    border-radius: 13px;
}

#content {
    margin-top: 20px;
}

.card-content {
    padding: 20px;
}

.e-card-title {
    font-weight: bold;
    font-family: "Arial";
}

.e-grid .e-altrow {
    background-color: #fafafa;
}

.e-pager {
    color:#aaaaaa;
}

.e-icons{
    color: #00ffff;
    font-size: 26px;
}
.e-pdfexport::before {
    content: "\f1c1"
  }
