#basic {
    background-color: white;
    border-radius: 13px;
}

#content {
    margin-top: 20px;
}

.card-content {
    padding: 20px;
}

.e-card-title {
    font-weight: bold;
    font-family: "Arial";
}

.e-grid .e-altrow {
    background-color: #fafafa;
}

.e-pager {
    color:#aaaaaa;
}

.e-icons{
    color: #00ffff;
    font-size: 26px;
}
.e-pdfexport::before {
    content: "\f1c1"
  }

.info-card {
    padding: 40px;

    span {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #333333;

        &.card-title {
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 40px
        }
        &.info-title {
            font-size: 22px;
            margin-bottom: 20px;
        }
        &.row-name {
            font-size: 18px;
            color: #828282;
            line-height: 20px;
        }
        &.row-value {
            font-weight: bold;
            margin-top: 3px;
        }
    }
}

.info-space {
    padding-left: 40px;
}