<div class="e-card" id="basic">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <ng-container *ngIf="showDetails && id=='employee_details'">
        <div class="e-card info-card d-flex flex-column" id="basic">
            <i-bs name="arrow-left" height="30" width="30" style="margin-bottom: 30px;" (click)="back()"></i-bs>
            <span class="card-title">{{selectedData.name}} {{selectedData.surname}}</span>
            <span class="info-title">Informacje</span>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex flex-column align-items-start">
                    <span class="row-name">ID</span>
                    <span class="row-value">{{selectedData.id}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Imię</span>
                    <span class="row-value">{{selectedData.name}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Nazwisko</span>
                    <span class="row-value">{{selectedData.surname}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Login</span>
                    <span class="row-value">{{selectedData.username}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Rola</span>
                    <span class="row-value">{{selectedData.role}}</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showDetails && id=='project_details'">
        <div class="e-card info-card d-flex flex-column" id="basic">
            <i-bs name="arrow-left" height="30" width="30" style="margin-bottom: 30px;" (click)="back()"></i-bs>
            <span class="card-title">{{selectedData.name}}</span>
            <span class="info-title">Informacje</span>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex flex-column align-items-start">
                    <span class="row-name">ID</span>
                    <span class="row-value">{{selectedData.projectId}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Nazwa</span>
                    <span class="row-value">{{selectedData.name}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Opis</span>
                    <span class="row-value">{{selectedData.description}}</span>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-title">Zadania</div>
                </div>
            </div>
            <div class="e-card-content" id="content">
                <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true" [allowFiltering]="true"
                    [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                    (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                    <e-columns>
                        <e-column field='taskId' headerText='ID' textAlign='Left' width=60></e-column>
                        <e-column field='time' headerText='Suma godzin' textAlign='Left' width=80></e-column>
                        <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                        <e-column field='description' headerText='Opis' textAlign='Left' width=200></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showDetails && id=='task_details'">
        <div class="e-card info-card d-flex flex-column" id="basic">
            <i-bs name="arrow-left" height="30" width="30" style="margin-bottom: 30px;" (click)="back()"></i-bs>
            <span class="card-title">{{selectedData.name}}</span>
            <span class="info-title">Informacje</span>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex flex-column align-items-start">
                    <span class="row-name">ID</span>
                    <span class="row-value">{{selectedData.taskId}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Suma godzin</span>
                    <span class="row-value">{{selectedData.time}}h</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Nazwa</span>
                    <span class="row-value">{{selectedData.name}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Opis</span>
                    <span class="row-value">{{selectedData.description}}</span>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-title">Czynności pracowników</div>
                </div>
            </div>
            <div class="e-card-content" id="content">
                <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true" [allowFiltering]="true"
                    [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                    (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                    <e-columns>
                        <e-column field='jobId' headerText='ID' textAlign='Left' width=60></e-column>
                        <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                        <e-column field='description' headerText='Opis' textAlign='Left' width=150></e-column>
                        <e-column field='date' headerText='Data' textAlign='Left' width=80></e-column>
                        <e-column field='time' headerText='Czas wykonania' textAlign='Left' width=60></e-column>
                        <e-column field='state' headerText='Status' textAlign='Left' width=80></e-column>
                        <e-column field='type' headerText='Typ' textAlign='Left' width=80></e-column>
                    </e-columns>
                </ejs-grid>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showDetails && id=='job_details'">
        <div class="e-card info-card d-flex flex-column" id="basic">
            <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 30px;">
                <i-bs name="arrow-left" height="30" width="30" (click)="back()"></i-bs>
                <div class="justify-content-center" style="padding-left: 50px; display:flex;" [hidden]="(userRole == 'USER' && projectRole == 'USER') || selectedData.state == 'REJECTED' || selectedData.state == 'ACCEPTED_BY_CLIENT' || (selectedData.state == 'ACCEPTED' && userRole == 'MANAGER')">
                    <button ejs-progressbutton content='Zaakceptuj' class="e-primary"
                        style="background-color: green; padding: 15px" type="submit"
                        (click)="job_accept(selectedData.jobId)"></button>
                    <button ejs-progressbutton content='Odrzuć' class="e-primary" [hidden]="selectedData.state == 'REJECTED_BY_CLIENT'"
                        style="margin-left: 10px; padding: 15px" type="submit" (click)="onOpenDialog()"></button>
                </div>
            </div>
            <span class="card-title">{{selectedData.name}}</span>
            <span class="info-title">Informacje</span>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex flex-column align-items-start">
                    <span class="row-name">ID</span>
                    <span class="row-value">{{selectedData.jobId}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Nazwa</span>
                    <span class="row-value">{{selectedData.name}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Opis</span>
                    <span class="row-value">{{selectedData.description}}</span>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-start" style="padding-top: 20px;">
                <div class="d-flex flex-column align-items-start">
                    <span class="row-name">Status</span>
                    <span class="row-value" [class.green]="selectedData.state == 'ACCEPTED'"
                        [class.red]="selectedData.state == 'REJECTED'">{{selectedData.state}}</span>
                </div>
                <div *ngIf="selectedData.state == 'REJECTED'" class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Powód odrzucenia</span>
                    <span class="row-value">{{selectedData.rejectionReason}}</span>
                </div>
                <div *ngIf="selectedData.date" class="d-flex flex-column align-items-start">
                    <span class="row-name">Data rozpoczęcia</span>
                    <span class="row-value">{{selectedData.date}}</span>
                </div>
                <div *ngIf="selectedData.time" class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Czas wykonania</span>
                    <span class="row-value">{{selectedData.time}}</span>
                </div>
                <div *ngIf="selectedData.type" class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Typ</span>
                    <span class="row-value">{{selectedData.type}}</span>
                </div>
                <div *ngIf="selectedData.type == 'DOCUMENT'" class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Dokument</span>
                    <span class="row-value">{{selectedData.documentUrl}}</span>
                </div>
                <div *ngIf="selectedData.type == 'PROBLEM'" class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Problem</span>
                    <span class="row-value">{{selectedData.problem.problemId}} - {{selectedData.problem.name}}</span>
                </div>
            </div>
        </div>
        <ejs-dialog *ngIf="showDialog" #template showCloseIcon='true' id='dialog' #ejDialog isModal='true'
            (close)="onOverlayClick()" (overlayClick)="onOverlayClick()" width='400px'>
            <ng-template #content>
                <div class="dialogContent">
                    <form class="example-form" [formGroup]="requestForm" id="requestForm">
                        <mat-card-content>
                            <mat-form-field style="width: -webkit-fill-available">
                                <input matInput placeholder="Powód odrzucenia" [formControl]="reason" type="text">
                                <mat-error *ngIf="requestForm.controls['reason'].invalid">
                                    {{getError('reason')}}
                                </mat-error>
                            </mat-form-field>
                        </mat-card-content>
                        <button ejs-progressbutton content='Wyślij' class="e-primary" type="submit"
                            [disabled]="!requestForm.valid" (click)="job_reject(selectedData.jobId)"
                            visible=false></button>
                    </form>
                </div>
            </ng-template>
            <ng-template #header>
                <div title="Odrzuć" class="e-icon-settings dlg-template"> Odrzuć </div>
            </ng-template>
        </ejs-dialog>
    </ng-container>
    <ng-container *ngIf="showDetails && id=='problem_details'">
        <div class="e-card info-card d-flex flex-column" id="basic">
            <i-bs name="arrow-left" height="30" width="30" style="margin-bottom: 30px;" (click)="back()"></i-bs>
            <span class="card-title">{{selectedData.name}}</span>
            <span class="info-title">Informacje</span>
            <div class="d-flex flex-row justify-content-start">
                <div class="d-flex flex-column align-items-start">
                    <span class="row-name">ID</span>
                    <span class="row-value">{{selectedData.problemId}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Nazwa</span>
                    <span class="row-value">{{selectedData.name}}</span>
                </div>
                <div class="d-flex flex-column align-items-start info-space">
                    <span class="row-name">Opis</span>
                    <span class="row-value">{{selectedData.description}}</span>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!showDetails" [ngSwitch]="id">
        <ng-container *ngSwitchCase="'employees'">
            <div class="card-content">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-title">Pracownicy</div>
                    </div>
                </div>
                <div class="e-card-content" id="content">
                    <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
                        [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                        (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                        <e-columns>
                            <e-column field='id' headerText='ID' textAlign='Left' width=60></e-column>
                            <e-column field='name' headerText='Imię' textAlign='Left' width=100></e-column>
                            <e-column field='surname' headerText='Naziwsko' textAlign='Left' width=150></e-column>
                            <e-column field='username' headerText='Login' textAlign='Left' width=100></e-column>
                            <e-column field='role' headerText='Rola' textAlign='Left' width=80></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'projects'">
            <div class="card-content">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-title">Projekty</div>
                    </div>
                </div>
                <div class="e-card-content" id="content">
                    <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
                        [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                        (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                        <e-columns>
                            <e-column field='projectId' headerText='ID' textAlign='Left' width=60></e-column>
                            <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                            <e-column field='description' headerText='Opis' textAlign='Left' width=200></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
            <div *ngIf="projectManager != null" class="card-content">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-title">Kierowane projekty</div>
                    </div>
                </div>
                <div class="e-card-content" id="content">
                    <ejs-grid #grid [dataSource]='projectManager' [allowPaging]="true" [allowSorting]="true"
                        [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                        (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event, true)">
                        <e-columns>
                            <e-column field='projectId' headerText='ID' textAlign='Left' width=60></e-column>
                            <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                            <e-column field='description' headerText='Opis' textAlign='Left' width=200></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'tasks'">
            <div class="card-content">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-title">Zadania</div>
                    </div>
                </div>
                <div class="e-card-content" id="content">
                    <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
                        [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                        (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                        <e-columns>
                            <e-column field='taskId' headerText='ID' textAlign='Left' width=60></e-column>
                            <e-column field='time' headerText='Suma godzin' textAlign='Left' width=80></e-column>
                            <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                            <e-column field='description' headerText='Opis' textAlign='Left' width=200></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'jobs'">
            <ng-container *ngIf="userRole == 'USER'; else standardJobs">
                <div class="card-content">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-title">Moje czynności</div>
                        </div>
                    </div>
                    <div class="e-card-content" id="content">
                        <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
                            [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                            (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)"
                            [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)="actionBegin($event)">
                            <e-columns>
                                <e-column field='jobId' headerText='ID' textAlign='Left' width=60></e-column>
                                <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                                <e-column field='description' headerText='Opis' textAlign='Left' width=150></e-column>
                                <e-column field='date' headerText='Data' textAlign='Left' width=80 editType= 'datepickeredit' [edit]='dateParams'></e-column>
                                <e-column field='time' headerText='Czas wykonania' textAlign='Left' width=60 editType= 'numericedit' [edit]='timeParams'></e-column>
                                <e-column field='state' headerText='Status' textAlign='Left' width=80></e-column>
                                <e-column field='type' headerText='Typ' textAlign='Left' width=80 editType= 'dropdownedit'
                                [edit]='typeParams'></e-column>
                            </e-columns>
                            <ng-template #editSettingsTemplate let-data>
                                <div ngForm #jobForm="ngForm">
                                    <div id="tab" class='tab'>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <ejs-datepicker [(ngModel)]="data.date" required id="date" [value]='dateValue' placeholder='Data' name="date" #date="ngModel" [min]='minDate' [max]='maxDate'></ejs-datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <input [(ngModel)]="data.name" required id="name" name="name" type="text" #name="ngModel">
                                                    <span class="e-float-line"></span>
                                                    <label class="e-float-text e-label-top" for="name">Nazwa</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <ejs-dropdownlist id="task" name="task" [(ngModel)]="data.task" [dataSource]='tasks' [fields]="{text: 'name', value: 'taskId' }" placeholder="Zadanie" popupHeight='300px' floatLabelType='Auto'></ejs-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <ejs-numerictextbox [(ngModel)]="data.time" required id="time" [validateDecimalOnType]='true' decimals='1' value='1' placeholder='Czas' name="time" floatLabelType= 'Auto' #time="ngModel"></ejs-numerictextbox>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <ejs-dropdownlist id="type" name="type" [(ngModel)]="data.type" [dataSource]='types' [fields]="{text: 'typeName', value: 'typeValue' }" placeholder="Typ" popupHeight='300px' floatLabelType='Auto'></ejs-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row" [hidden]="data.type != 'DOCUMENT'">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <input [(ngModel)]="data.documentUrl" id="documentUrl" name="documentUrl" type="text" #documentUrl="ngModel">
                                                    <span class="e-float-line"></span>
                                                    <label class="e-float-text e-label-top" for="description">Dokument</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row" [hidden]="data.type != 'PROBLEM'">
                                            <div class="form-group col-md-12">
                                                <div class="e-float-input e-control-wrapper">
                                                    <ejs-dropdownlist id="problemId" name="problemId" [(ngModel)]="data.problemId" [dataSource]='problems' [fields]="{text: 'name', value: 'problemId' }" placeholder="Problem" popupHeight='300px' floatLabelType='Auto'></ejs-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ejs-grid>
                    </div>
                </div>
            </ng-container>
            <ng-template #standardJobs>
                <div class="card-content">
                    <div class="e-card-header">
                        <div class="e-card-header-caption">
                            <div class="e-card-title">{{ userRole == 'CLIENT' ? 'Czynności do akceptacji' : 'Czynności pracowników' }}</div>
                            <button ejs-progressbutton content='Pobierz fakturę' class="e-primary" (click)="downloadInvoice()"></button>
                        </div>
                    </div>
                    <div class="e-card-content" id="content">
                        <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
                            [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                            (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                            <e-columns>
                                <e-column field='jobId' headerText='ID' textAlign='Left' width=60></e-column>
                                <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                                <e-column field='description' headerText='Opis' textAlign='Left' width=150></e-column>
                                <e-column field='date' headerText='Data' textAlign='Left' width=80></e-column>
                                <e-column field='time' headerText='Czas wykonania' textAlign='Left' width=60></e-column>
                                <e-column field='state' headerText='Status' textAlign='Left' width=80></e-column>
                                <e-column field='type' headerText='Typ' textAlign='Left' width=80></e-column>
                            </e-columns>
                        </ejs-grid>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'problems'">
            <div class="card-content">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-title">Repozytorium problemów</div>
                    </div>
                </div>
                <div class="e-card-content" id="content">
                    <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
                        [allowFiltering]="true" [filterSettings]='filterOptions' [pageSettings]='pageSettings'
                        (actionComplete)='actionComplete($event)' (recordDoubleClick)="recordClick($event)">
                        <e-columns>
                            <e-column field='problemId' headerText='ID' textAlign='Left' width=60></e-column>
                            <e-column field='name' headerText='Nazwa' textAlign='Left' width=100></e-column>
                            <e-column field='description' headerText='Opis' textAlign='Left' width=200></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'calendar'">
            <div class="card-content">
                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-title">Kalendarz</div>
                    </div>
                </div>
                <div class="e-card-content" id="content">
                    <ejs-schedule width='100%' height='550px' [selectedDate]='dateValue' [eventSettings]='eventSettings'></ejs-schedule>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>